{% extends 'template.html' %}

{% block content %}
        <h2>About</h2>

        <p>This app was developed
        by <a href="http://cs.unb.ca/~ccook1/">Paul Cook</a> as part
        of an assignment
        for <a href="https://www.unb.ca/academics/calendar/undergraduate/current/frederictoncourses/firstnations/abrg-3686.html">ABRG3686
        Wolastoqey Language
        1</a>. The <a href="https://github.com/cpaulcook/WolastoqeyDemoLT">source
        code</a> is freely available.</p>

        <p>This app follows the number system as presented in
        ABRG3686. There are some differences with the information
        presented on
        the <a href="https://pmportal.org/">Passamaquoddy-Maliseet
        Language Portal</a> on the
          <a href="https://pmportal.org/sites/default/files/reference-documents/Numbers.pdf">number
        system</a> (e.g., <em>'cel</em> vs <em>cel</em>).</p>

        <p>Feedback on this app would be very welcome. If you spot
        errors, please let me know. Woliwon!</p>
{% endblock %}


