{% extends 'template.html' %}

{% block content %}

        <h2>What number is this?</h2>

        <p id="numAsStrPar"></p>

        <div class="form">
          <label for="guessField">Enter your answer
          (1&ndash;100): </label><input type="number"
          inputmode="numeric" pattern="0-9*" id="guessField" class="guessField">
          <input type="submit" value="Submit" class="guessSubmit">
        </div>

        <div class="resultParas" id="resultParas">
        </div>

    <script>

      // Started from example here:
      // https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/A_first_splash

      let theAnswer;
      const guessSubmit = document.querySelector('.guessSubmit');
      const guessField = document.querySelector('.guessField');
      const resultParas = document.getElementById('resultParas');
      const numAsStrPar = document.getElementById('numAsStrPar');
      let resetButton;

      function getNumber() {
          var request = new XMLHttpRequest();
          request.addEventListener('load', updateNumber);
          request.open('GET', {{ url_for('getnum')|tojson }});
          request.send();
      }

      function updateNumber() {
          var data = JSON.parse(this.responseText);
          theAnswer = data['num'];
          numAsStrPar.textContent = data['num_as_str'];
      }

      getNumber();

      // When this is here (which is convenient) when the game is
      // played for a subsequent time, and the user chooses next game
      // by pressing enter on the resetButton, a guess of 0 gets
      // entered before the user has a chance to actually guess!  Not
      // sure how to fix this...
      // guessField.focus();
      guessField.value = '';


      function checkGuess() {
          let userGuess = Number(guessField.value);

          if (userGuess === theAnswer) {
              var node = document.createElement("p");
              var textnode = document.createTextNode("Kwoli kiseht! " + numAsStrPar.textContent + " is " + userGuess + ".");
              node.appendChild(textnode);

              resultParas.insertBefore(node, resultParas.firstChild);

              // Get rid of the guesses so the play again button isn't
              // somewhere far away...
              while (resultParas.childNodes.length > 1) {
                  resultParas.removeChild(resultParas.lastChild);
              }

              setGameOver();
          } else {
              if(userGuess < theAnswer) {
                  var node = document.createElement("p");
                  var textnode = document.createTextNode(userGuess + ' is too low.');
                  node.appendChild(textnode);
                  resultParas.insertBefore(node, resultParas.firstChild);
              } else if(userGuess > theAnswer) {
                  var node = document.createElement("p");
                  var textnode = document.createTextNode(userGuess + ' is too high.');
                  node.appendChild(textnode);
                  resultParas.insertBefore(node, resultParas.firstChild);
              }
          }

          guessField.value = '';
          guessField.focus();
      }

      guessSubmit.addEventListener('click', checkGuess);

      guessField.addEventListener('keyup', function(event) {
          if (event.keyCode == 13) {
              guessSubmit.click();
          }
      });

      function setGameOver() {
          guessField.disabled = true;
          guessSubmit.disabled = true;
          resetButton = document.createElement('button');
          resetButton.textContent = 'Play again';
          document.getElementById('resultParas').appendChild(resetButton);
          resetButton.addEventListener('click', resetGame);
          resetButton.focus();
      }

      function resetGame() {
          location.reload()
      }



    </script>

{% endblock %}
