{% extends 'template.html' %}

{% block content %}

        <h2>What number is this?</h2>

        <p>{{ num_as_str }}?</p>

        <div class="form">
          <label for="guessField">Enter a guess (1&ndash;100): </label><input type="text" id="guessField" class="guessField">
          <input type="submit" value="Submit" class="guessSubmit">
        </div>

        <div class="resultParas" id="resultParas">
          <p class="guesses"></p>
          <p class="lastResult"></p>
        </div>

    <script>

      // Started from example here:
      // https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/A_first_splash

      let theAnswer = {{ num }}
      const guesses = document.querySelector('.guesses');
      const lastResult = document.querySelector('.lastResult');
      const guessSubmit = document.querySelector('.guessSubmit');
      const guessField = document.querySelector('.guessField');
      let guessCount = 1;
      let resetButton;

      // When this is here (which is convenient) when the game is
      // played for a subsequent time, and the user choose next game
      // by pressing enter on the resetButton, a guess of 0 gets
      // entered before the user has a chance to actually guess!
      // Maybe try removing the eventlistener at this point?
      // guessField.focus();

      function checkGuess() {
          let userGuess = Number(guessField.value);
          if (guessCount === 1) {
              guesses.textContent = 'Previous guesses: ';
          }

          guesses.textContent += userGuess + ' ';

          if (userGuess === theAnswer) {
              lastResult.textContent = 'Kwoli kiseht!';
              setGameOver();
          } else {
              if(userGuess < theAnswer) {
                  lastResult.textContent = 'Last guess was too low!' ;
              } else if(userGuess > theAnswer) {
                  lastResult.textContent = 'Last guess was too high!';
              }
          }

          guessCount++;
          guessField.value = '';
          guessField.focus();
      }

      guessSubmit.addEventListener('click', checkGuess);
      guessField.addEventListener('keyup', function(event) {
          if (event.keyCode == 13) {
              guessSubmit.click();
          }
      });

      function setGameOver() {
          guessField.disabled = true;
          guessSubmit.disabled = true;
          resetButton = document.createElement('button');
          resetButton.textContent = 'Play again';
          document.getElementById('resultParas').appendChild(resetButton);
          resetButton.addEventListener('click', resetGame);
          resetButton.focus();
      }

    </script>

{% endblock %}





<!-- <!DOCTYPE html> -->
<!-- <html lang="en" dir="ltr"> -->
  <!--   <head> -->
    <!--     <meta charset="utf-8"> -->
    <!--     <title>Wolastoqey Number Game</title> -->
    <!--   </head> -->
  <!--   <body> -->
    <!--     <h1>Wolastoqey Number Game</h1> -->
    <!--     <p> What is {{ num_as_str }}?</p> -->

    <!--     <div class="form"> -->
      <!--       <label for="guessField">Enter a guess: </label><input type="text" id="guessField" class="guessField"> -->
      <!--       <input type="submit" value="Submit" class="guessSubmit"> -->
      <!--     </div> -->

    <!--     <div class="resultParas"> -->
      <!--       <p class="guesses"></p> -->
      <!--       <p class="lastResult"></p> -->
      <!--     </div> -->

    <!--     <script> -->
      <!--       // Started from example here: -->
      <!--       // https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/A_first_splash -->

      <!--       let theAnswer = {{ num }} -->
      <!--       const guesses = document.querySelector('.guesses'); -->
      <!--       const lastResult = document.querySelector('.lastResult'); -->
      <!--       const guessSubmit = document.querySelector('.guessSubmit'); -->
      <!--       const guessField = document.querySelector('.guessField'); -->
      <!--       let guessCount = 1; -->
      <!--       let resetButton; -->

      <!--       // When this is here (which is convenient) when the game is -->
      <!--       // played for a subsequent time, and the user choose next game -->
      <!--       // by pressing enter on the resetButton, a guess of 0 gets -->
      <!--       // entered before the user has a chance to actually guess! -->
      <!--       // Maybe try removing the eventlistener at this point? -->
      <!--       // guessField.focus(); -->

      <!--       function checkGuess() { -->
      <!--           let userGuess = Number(guessField.value); -->
      <!--           if (guessCount === 1) { -->
      <!--               guesses.textContent = 'Previous guesses: '; -->
      <!--           } -->

      <!--           guesses.textContent += userGuess + ' '; -->

      <!--           if (userGuess === theAnswer) { -->
      <!--               lastResult.textContent = 'Kwoli kiseht!'; -->
      <!--               setGameOver(); -->
      <!--           } else { -->
      <!--               if(userGuess < theAnswer) { -->
      <!--                   lastResult.textContent = 'Last guess was too low!' ; -->
      <!--               } else if(userGuess > theAnswer) { -->
        <!--                   lastResult.textContent = 'Last guess was too high!'; -->
        <!--               } -->
        <!--           } -->

        <!--           guessCount++; -->
        <!--           guessField.value = ''; -->
        <!--           guessField.focus(); -->
        <!--       } -->

        <!--       guessSubmit.addEventListener('click', checkGuess); -->
        <!--       guessField.addEventListener('keyup', function(event) { -->
        <!--           if (event.keyCode == 13) { -->
        <!--               guessSubmit.click(); -->
        <!--           } -->
        <!--       }); -->

        <!--       function setGameOver() { -->
        <!--           guessField.disabled = true; -->
        <!--           guessSubmit.disabled = true; -->
        <!--           resetButton = document.createElement('button'); -->
        <!--           resetButton.textContent = 'Start new game'; -->
        <!--           document.body.appendChild(resetButton); -->
        <!--           resetButton.addEventListener('click', resetGame); -->
        <!--           resetButton.focus(); -->
        <!--       } -->

        <!--       function resetGame() { -->
        <!--           location.reload() -->
        <!--       } -->
        <!--     </script> -->
    <!--   </body> -->
  <!-- </html> -->
