{% extends 'template.html' %}

{% block content %}

<div style="text-align:center">
<h3>Wolasuweltomuwakon</h3>
<p>Nuhkomossok naka Nmuhsumsok, woliwon ‘ciw latuwewakon</p>
<p>Nilun oc tokec nuleyutomonen ‘ciw weckuwapasihtit.</p>
<p>Nit Leyic.</p>
</p>Opolahsomuwehs ‘94</p>

<h3>Wolastoqey Language Honour Code</h3>

<p>Grandmothers and Grandfathers</p>
<p>Thank You for the Language that you have saved for us</p>
<p>It is now our turn to save it for the Ones who are not yet born.</p>
<p>May that be the truth!</p>
<p>Opolahsomuwehs 94</p>
</div>

{% endblock %}


